html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2 {
	text-align: center;
	font-family: 'Ovo', serif;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 362px;
	position: absolute;
	right: 0px;
}

#map-container {
	height: 800px;
	max-width: 100%;
	display: inline-block;
}

.searches {
	background: #fff;
 	line-height: 35px;
 	padding: 10px 10px 30px 10px;
 	text-align: center;
 	width: 340px;
 	display: inline;
}

.banner{
	background: yellow;
 	border: 1px solid #999;
 	border-radius: 4px;
 	line-height: 35px;
 	padding: 10px 10px 30px 10px;
 	text-align: center;
}


li, .text{
	list-style: none;
	font-family: 'Muli', sans-serif;
	font-size: 1em;
}

.highlightItem:hover {
	background-color: #fafa0c;
}