html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2 {
	text-align: center;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 362px;
	position: absolute;
	right: 0px;
}

li {
	list-style: none;
}